<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.tcmp068.aviation.catalog.dao.CatalogMapper" >

    <select id="queryAllCatalog" resultType="cn.tcmp068.aviation.entity.Catalog" >
        select * from Catalog where cataLaws=#{cataLaws} and cateRank=0
    </select>
    <select id="queryByCateRank" resultType="cn.tcmp068.aviation.entity.Catalog">
        select * from Catalog where cateRank=#{cateRank}
    </select>
    <insert id="addCatalog" parameterType="cn.tcmp068.aviation.entity.Catalog">
        insert into Catalog values(null,#{cataLaws},#{cateText},2,#{cateRank},#{cateNumber})
    </insert>
    <delete id="deleteCatalog" parameterType="cn.tcmp068.aviation.entity.Catalog">
        delete from Catalog where cataLogId=#{cataLogId}
    </delete>
</mapper>