<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tcmp068.aviation.consult.dao.ConsultMapper">
    <select id="queryAll" resultType="cn.tcmp068.aviation.entity.Consult">
        select * from Consult
        <where>
            <if test="consult!=null">
                <if test="consult.consultPhone!=null and consult.consultPhone!=''">
                    and consultPhone like concat ('%',#{consult.consultPhone},'%')
                </if>
                <if test="consult.consultText!=null and consult.consultText!=''">
                    and consultText like concat ('%',#{consult.consultText},'%')
                </if>
            </if>
        </where>
    </select>
    <delete id="deleteConsult" parameterType="cn.tcmp068.aviation.entity.Consult">
        delete from Consult where consultId=#{consultId}
    </delete>
    <!--<resultMap id="ConsultMap" type="cn.tcmp068.aviation.entity.Consult" autoMapping="true">-->
        <!--<id property="consultId" column="consultId"></id>-->
        <!--<association property="user" resultMap="UserMap" autoMapping="true"></association>-->
    <!--</resultMap>-->
    <!--<resultMap id="UserMap" type="cn.tcmp068.aviation.entity.User" autoMapping="true">-->
        <!--<id property="userId" column="userId"></id>-->
    <!--</resultMap>-->
    <select id="queryAllByuserId"  resultType="cn.tcmp068.aviation.entity.Consult">
        select * from Consult where userId=#{userId}
    </select>
    <select id="queryConsultByuserId" resultType="cn.tcmp068.aviation.entity.Consult">
        select * from Consult where consultId=#{consultId}
    </select>
    <insert id="addConsult" parameterType="cn.tcmp068.aviation.entity.Consult">
        insert into Consult values (null,#{consultName},#{consultPhone},now(),#{consultClause},#{consultText},#{user.userId},0)
    </insert>
</mapper>