<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.tcmp068.aviation.laws.dao.LawsMapper" >
  <resultMap id="BaseResultMap" type="cn.tcmp068.aviation.entity.Laws" >
    <id column="lawsId" property="lawsid" jdbcType="INTEGER" />
    <result column="lawsPart" property="lawspart" jdbcType="INTEGER" />
    <result column="lawsVersion" property="lawsversion" jdbcType="INTEGER" />
    <result column="lawsName" property="lawsname" jdbcType="VARCHAR" />
    <result column="lawsLogo" property="lawslogo" jdbcType="INTEGER" />
    <result column="lawsDownload" property="lawsdownload" jdbcType="VARCHAR" />
    <result column="lawsState" property="lawsstate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    lawsId, lawsPart, lawsVersion, lawsName, lawsLogo, lawsDownload, lawsState
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from Laws
    where lawsId = #{lawsid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from Laws
    where lawsId = #{lawsid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.tcmp068.aviation.entity.Laws" >
    insert into Laws (lawsId, lawsPart, lawsVersion, 
      lawsName, lawsLogo, lawsDownload, 
      lawsState)
    values (#{lawsid,jdbcType=INTEGER}, #{lawspart,jdbcType=INTEGER}, #{lawsversion,jdbcType=INTEGER}, 
      #{lawsname,jdbcType=VARCHAR}, #{lawslogo,jdbcType=INTEGER}, #{lawsdownload,jdbcType=VARCHAR}, 
      #{lawsstate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.tcmp068.aviation.entity.Laws" >
    insert into Laws
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="lawsid != null" >
        lawsId,
      </if>
      <if test="lawspart != null" >
        lawsPart,
      </if>
      <if test="lawsversion != null" >
        lawsVersion,
      </if>
      <if test="lawsname != null" >
        lawsName,
      </if>
      <if test="lawslogo != null" >
        lawsLogo,
      </if>
      <if test="lawsdownload != null" >
        lawsDownload,
      </if>
      <if test="lawsstate != null" >
        lawsState,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="lawsid != null" >
        #{lawsid,jdbcType=INTEGER},
      </if>
      <if test="lawspart != null" >
        #{lawspart,jdbcType=INTEGER},
      </if>
      <if test="lawsversion != null" >
        #{lawsversion,jdbcType=INTEGER},
      </if>
      <if test="lawsname != null" >
        #{lawsname,jdbcType=VARCHAR},
      </if>
      <if test="lawslogo != null" >
        #{lawslogo,jdbcType=INTEGER},
      </if>
      <if test="lawsdownload != null" >
        #{lawsdownload,jdbcType=VARCHAR},
      </if>
      <if test="lawsstate != null" >
        #{lawsstate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.tcmp068.aviation.entity.Laws" >
    update Laws
    <set >
      <if test="lawspart != null" >
        lawsPart = #{lawspart,jdbcType=INTEGER},
      </if>
      <if test="lawsversion != null" >
        lawsVersion = #{lawsversion,jdbcType=INTEGER},
      </if>
      <if test="lawsname != null" >
        lawsName = #{lawsname,jdbcType=VARCHAR},
      </if>
      <if test="lawslogo != null" >
        lawsLogo = #{lawslogo,jdbcType=INTEGER},
      </if>
      <if test="lawsdownload != null" >
        lawsDownload = #{lawsdownload,jdbcType=VARCHAR},
      </if>
      <if test="lawsstate != null" >
        lawsState = #{lawsstate,jdbcType=VARCHAR},
      </if>
    </set>
    where lawsId = #{lawsid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.tcmp068.aviation.entity.Laws" >
    update Laws
    set lawsPart = #{lawspart,jdbcType=INTEGER},
      lawsVersion = #{lawsversion,jdbcType=INTEGER},
      lawsName = #{lawsname,jdbcType=VARCHAR},
      lawsLogo = #{lawslogo,jdbcType=INTEGER},
      lawsDownload = #{lawsdownload,jdbcType=VARCHAR},
      lawsState = #{lawsstate,jdbcType=VARCHAR}
    where lawsId = #{lawsid,jdbcType=INTEGER}
  </update>
</mapper>