<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tcmp068.aviation.laws.dao.LawsMapper">
    <select id="queryAll" resultType="cn.tcmp068.aviation.entity.Laws">
        SELECT * FROM Laws
        <where>
            <if test="laws!=null">
            <if test="laws.lawsName!=null">
               and lawsName=#{laws.lawsName}
            </if>
            <if test="laws.lawsPart!=null">
              and lawsPart=#{laws.lawsPart}
            </if>
            </if>
        </where>
    </select>
    <insert id="addLaws" parameterType="cn.tcmp068.aviation.entity.Laws">
        INSERT INTO Laws VALUES (#{lawsId},#{lawsPart},#{lawsVersion},#{lawsName},#{lawsStauts},#{lawsDownload},#{lawsState},#{lawsLogo},#{lawsFDBName})
    </insert>
    <update id="updateLaws" parameterType="cn.tcmp068.aviation.entity.Laws">
       UPDATE Laws SET lawsPart=#{lawsPart},lawsVersion=#{lawsVersion},lawsName=#{lawsName},lawsStauts=#{lawsStauts},lawsDownload=#{lawsDownload},lawsState=#{lawsState},lawsLogo=#{lawsLogo},lawsFDBName=#{lawsFDBName} WHERE lawsId=#{lawsId}
    </update>
    <select id="queryLawsById" parameterType="java.lang.String" resultType="cn.tcmp068.aviation.entity.Laws">
        select * from Laws where lawsId=#{lawsId}
    </select>
    <delete id="deleteLawsById" parameterType="java.lang.String">
        delete from Laws where lawsId=#{lawsId}
    </delete>
</mapper>