<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.tcmp068.aviation.leave.dao.LeaveMapper" >
  <select id="queryAll" resultType="cn.tcmp068.aviation.entity.Leave">
    select * from `Leave`
  </select>
  <select id="queryByleaveId" parameterType="cn.tcmp068.aviation.entity.Leave" resultType="cn.tcmp068.aviation.entity.Leave">
    select * from `Leave` where leaveId=#{leaveId}
  </select>
  <delete id="deleteLeave" parameterType="cn.tcmp068.aviation.entity.Leave">
    delete from `Leave` where leaveId=#{leaveId}
  </delete>
  <insert id="addLeave" parameterType="cn.tcmp068.aviation.entity.Leave">
    insert into `Leave` values(null,#{leave.leaveText},1,now(),1)
  </insert>
</mapper>