<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tcmp068.aviation.user.dao.UserMapper">
   <select id="queryAll" parameterType="cn.tcmp068.aviation.entity.User" resultType="cn.tcmp068.aviation.entity.User">
       select * from User
       <where>
           <if test="user!=null">
               <if test="user.userPhone!=null">
                   and userPhone like concat ('%',#{user.userPhone},'%')
               </if>
           </if>
       </where>
   </select>

    <select id="login" resultType="cn.tcmp068.aviation.entity.User">
        select * from User where userPhone=#{userPhone} and userPassword=#{userPassword}
    </select>
    <insert id="insertUser" parameterType="cn.tcmp068.aviation.entity.User">
        insert into User values (null,#{userPhone},md5(#{userPassword}),#{userType},now(),#{userStatus})
    </insert>
    <update id="updateUser" parameterType="cn.tcmp068.aviation.entity.User">
        update User  set userPassword where userPhone=#{userPhone}
    </update>
    <select id="queryUserByPhone" resultType="cn.tcmp068.aviation.entity.User">
        select * from User where userPhone=#{userPhone}
    </select>
</mapper>